{% load static %}
{% load i18n %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logos/Schori-Liem Logo Emblem.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logos/Schori-Liem Logo Emblem.png' %}">

    <!-- CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Title</title>
</head>
<body>

<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>

<!-- JavaScript -->
{% bootstrap_javascript %}
<script src="https://kit.fontawesome.com/816e2cd94f.js" crossorigin="anonymous"></script>
</body>
</html>