{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}
    {% trans 'Wedding-Images' %}
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
{% endblock %}

{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {
                $(this).addClass('transition');
            }, function () {
                $(this).removeClass('transition');
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for image in images %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a data-src="{{ image.url }}" data-fancybox="gallery">
                        <img src="{{ image.url }}" class="zoom img-fluid " alt="">
                    </a>
                </div>
            {% endfor %}

            {% for video in videos %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a data-src="{{ video.url }}" data-fancybox-type="iframe" data-fancybox="gallery">
                        <img src="{{ video.image_url }}" class="zoom img-fluid " alt="">
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}