/*
Root-Settings
 */
:root {
    --main-color: #1d8fe0;
    --main-color-50: #78c7ff;
    --secondary-color: #a61919;
    --secondary-color-50: #f5d7d8;
}

/*
Default Settings
 */
.link-unstyled, .link-unstyled a {
    text-decoration: none;
}

.dropdown-item:active {
    background-color: var(--secondary-color);
}

.dropdown-item:hover {
    background-color: var(--secondary-color);
    color: white;
}

/*
Message
 */

@media only screen and (max-width: 399px) {
    .alert-float-center-bottom {
        position: fixed;
        left: 2.5%;
        bottom: 2%;
        width: 95%;
    }

}

@media only screen and (min-width: 400px) {
    .alert-float-center-bottom {
        position: fixed;
        left: 30%;
        bottom: 2%;
        width: 40%;
    }
}

/*
Color-Settings
 */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: var(--secondary-color) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--secondary-color) !important;
    outline: 0 none;
}

.home-title {
    font-family: 'Noto Sans KR', serif;
    font-size: 5em;
}

.bg-home-title {
    background-color: var(--secondary-color);
}

.home-font {
font-family: 'Beau Rivage', cursive;
}

hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border-top: 1px solid var(--secondary-color);
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-main-50 {
    background-color: var(--main-color-50) !important;
}

.btn-main {
    background-color: var(--main-color) !important;
    color: white;
    border-color: var(--main-color) !important;
}

.text-main {
    color: var(--main-color) !important;
}

.text-main:hover {
    color: var(--secondary-color) !important;
}

.text-main-hover:hover {
    color: var(--main-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.btn-secondary {
    background-color: var(--secondary-color) !important;
    color: white;
    border-color: var(--secondary-color) !important;
}

.text-secondary, .text-secondary a, .text-secondary-on-bg {
    color: var(--secondary-color) !important;
}

.text-secondary a:hover {
    color: var(--main-color) !important;
}

.text-secondary-on-bg:hover {
    color: white !important;
}

.text-secondary-hover:hover {
    color: var(--secondary-color) !important;
}

/*
Wedding CSS
 */
.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 30px;
}

.page-top {
    margin-top: 85px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
