{% extends 'base.html' %}
{% load i18n %}
{% load stringtags %}
{% load wishlisttags %}

{% block custom_js %}
    <script type="text/javascript">

        $('.btn-more').each(function () {
            $(this).on('click', function () {
                let el_id = $(this).attr('id');
                let dots = $('#dots-' + el_id);
                let more = $('#more-' + el_id);
                let btn = $('#' + el_id);

                if ($(dots).hasClass('d-none')) {
                    $(dots).removeClass('d-none');
                    $(btn).html('{% trans 'Read more' %}');
                    $(more).addClass('d-none');
                } else {
                    $(dots).addClass('d-none');
                    $(btn).html('{% trans 'Read less' %}');
                    $(more).removeClass('d-none');
                }
            });
        });
    </script>
{% endblock %}

{% block head_title %}
    Baby-Wishlist
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-10 col-lg-8">
                <h1>{% trans 'Wishlist' %}</h1>
                <p>
                    {% blocktranslate %}
                        We are very happy for every contribution. If you wish to give us a product directly, then please
                        mark it as self-buy.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            {% for wishlist_item in wishlist_items %}
                <div class="card m-2" style="width: 18rem;">
                    {% if wishlist_item.image_url %}
                        <img class="card-img-top"
                             src="{{ wishlist_item.image_url }}"
                             alt="Wishlist-Item Image">
                    {% else %}
                        <img class="card-img-top"
                             src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg"
                             alt="Wishlsit Item Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ wishlist_item.title }}</h5>
                        <p class="card-text">
                            {{ wishlist_item.description|cut_string_end:75 }}<span
                                id="dots-rm-{{ wishlist_item.id }}">...</span><span
                                id="more-rm-{{ wishlist_item.id }}"
                                class="d-none">{{ wishlist_item.description|cut_string_start:75 }}</span>
                        </p>
                        <a class="text-secondary btn-more" style="cursor: pointer;"
                           id="rm-{{ wishlist_item.id }}">{% trans 'Read more' %}</a>
                        <div class="progress mt-4 mb-2">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                 style="width: {{ wishlist_item|calculate_progress }}%"
                                 aria-valuenow="{{ wishlist_item|calculate_progress }}" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <b>CHF {{ wishlist_item.price_progress|floatformat:2 }}</b>
                        {% trans 'from' %}
                        <b>CHF {{ wishlist_item.price_full|floatformat:2 }}</b>
                        <div class="mt-2">
                            {% if wishlist_item.product_url %}
                                <p>
                                    <a href="{{ wishlist_item.product_url }}" target="_blank"
                                       class="link-unstyled text-secondary">{% trans 'Go to product' %}</a>
                                </p>
                            {% else %}
                                <p class="text-danger">
                                    {% trans 'No product-link present' %}
                                </p>
                            {% endif %}
                        </div>
                        {% if wishlist_item.purchased %}
                            <a href="#"
                               class="btn btn-outline-success disabled">{% trans 'Contribution finished!' %}</a>
                        {% else %}
                            <a href="{% url 'contribute_to_product' wishlist_item.id %}"
                               class="btn btn-secondary">{% trans 'I will contribute' %}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}