{% load i18n %}

{% autoescape off %}
    {% trans 'Schori-Liem' %}

    {% trans 'Hello' %} {{ user.firstname }},
    {% trans 'Please click on the link below to complete the reset of your password.' %}

    http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}

    {% trans 'If the link is not working, copy and paste it to your browser.' %}

    {% trans 'If you didnt request to reset your password you can ignore this email and dont send the link to anyone.' %}
{% endautoescape %}