{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block custom_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR">
{% endblock %}

{% block head_title %}
    {% trans 'Home' %}
{% endblock %}

{% block content %}
    <div class="bg-home-title p-3 d-lg-none">
        <div class="container">
            <div class="row text-center">
                <p class="display-4 mb-0 text-white">{% trans 'Homepage-Title' %}</p>
            </div>
        </div>
    </div>

    <div class="bg-home-title p-3 d-none d-lg-block">
        <div class="container">
            <div class="row text-center">
                <p class="home-title text-white">{% trans 'Homepage-Title' %}</p>
            </div>
        </div>
    </div>

    <div class="d-none d-lg-block mt-5"></div>
    <div class="d-lg-none mt-4"></div>

    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <p>{% trans 'Dear family, dear friends' %}</p>
                <p>
                    {% blocktranslate %}
                        Welcome-Text for this homepage...
                    {% endblocktranslate %}
                </p>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="d-lg-none mt-3"></div>
                <img src="{% static 'images/people/Sample_User_Icon.png' %}" alt=""
                     class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}