{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap5 %}
{% load babywishlisttags %}

{% block custom_js %}
    <script type="text/javascript">
        let slider = $('#{{ form.contribute.id_for_label }}');
        let slider_text = $('#amount_text');
        let btn_text = $('#btn_amount');
        let is_selfbuy = $('#{{ form.is_selfbuy.id_for_label }}');
        setSliderAndBtnText();

        $(slider).on('input', function () {
            if ($(slider).val() !== $(slider).attr('max')) {
                $(is_selfbuy).prop('checked', false);
            }
            setSliderAndBtnText();
        });

        $(is_selfbuy).on('change', function () {
            if ($(is_selfbuy).is(':checked')) {
                setSliderToMax();
            }
        });

        function setSliderToMax() {
            $(slider).attr('value', $(slider).attr('max'));
            $(slider).val($(slider).attr('max'));
            setSliderAndBtnText();
        }

        function setSliderAndBtnText() {
            $(slider_text).html($(slider).val());
            $(btn_text).html($(slider).val());
        }
    </script>
{% endblock %}

{% block head_title %}
    {% trans 'Contribute' %}
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="display-1">
                {{ product.title }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="d-lg-none mt-3"></div>
                        <img src="{{ product.image_url }}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3 d-flex flex-column align-items-bottom">
                        <div>
                            {{ product.description }}
                        </div>
                        <div class="mt-3">
                            <a href="{{ product.product_url }}" class="link-unstyled text-secondary" target="_blank">
                                > {% trans 'Go to product-site' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="d-lg-none">
                    <hr>
                </div>

                <div class="d-none d-lg-block mt-5"></div>

                <div class="mt-auto text-center">
                    <div class="d-none d-lg-block">
                        <hr>
                    </div>
                    <div class="d-lg-none mt-2"></div>
                    <div class="d-lg-none">
                        <div class="bg-main-50 rounded p-1 text-white">
                            <h6 class="fw-light mb-0">{% trans 'Already Contributed: CHF' %} {{ product.price_progress|floatformat:2 }} {% trans 'from CHF' %} {{ product.price_full|floatformat:2 }}</h6>
                        </div>
                    </div>
                    <div class="d-none d-lg-block">
                        <div class="bg-main-50 rounded p-3 text-white">
                            <h4 class="fw-light mb-0">{% trans 'Already Contributed: CHF' %} {{ product.price_progress|floatformat:2 }} {% trans 'from CHF' %} {{ product.price_full|floatformat:2 }}</h4>
                        </div>
                    </div>
                </div>

                <form method="post" class="mt-5">
                    {% csrf_token %}
                    <div class="row g-3 align-items-center">
                        <div class="col-auto fw-bold">
                            <label for="{{ form.contribute.id_for_label }}">
                                {% trans 'How much do you want to contribute to this product?' %}
                            </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <input type="range" name="{{ form.contribute.html_name }}"
                                   id="{{ form.contribute.id_for_label }}"
                                   step="1" class="form-range" required
                                   placeholder="{% trans 'Amount' %}" value="{{ product|get_half_remaining_price }}"
                                   min="1"
                                   max="{{ product|calculate_remaining_price }}">
                        </div>
                        <div class="col">
                            <span class="form-text">{% trans 'CHF' %}</span>
                            <span class="form-text" id="amount_text"></span>
                        </div>
                    </div>
                    {% if product|is_progress_price_null %}
                        <div class="row mt-2">
                            <div class="col">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input"
                                           id="{{ form.is_selfbuy.id_for_label }}"
                                           name="{{ form.is_selfbuy.html_name }}">
                                    <label class="form-check-label" for="{{ form.is_selfbuy.id_for_label }}">
                                        {% trans 'You want to buy this product on your own? Click this box and we will not buying it ourselfe. But be sure, then this is only possible if you pay the full price.' %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if form.is_selfbuy.errors %}
                        <p class="text-white p-2 bg-danger rounded text-center">
                            {{ form.is_selfbuy.errors.0 }}
                        </p>
                    {% endif %}
                    <div class="row mt-2">
                        <div class="col">
                            <label for="{{ form.comment.id_for_label }}" class="form-label fw-bold">
                                {% trans 'Write us about you and your contribution.' %}
                            </label>
                            <textarea name="{{ form.comment.html_name }}" id="{{ form.comment.id_for_label }}"
                                      cols="40"
                                      rows="10" class="form-control" required></textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-secondary mt-4">
                        {% trans 'Contribute now CHF' %} <span id="btn_amount">0</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}