{% extends 'base.html' %}
{% load i18n %}
{% load babywishlisttags %}

{% block head_title %}
    Baby-Wishlist
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-8">
                <h1>Baby-Wishlist</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur, cumque debitis
                    dignissimos eos facilis fugiat illo inventore ipsam nisi rem repudiandae rerum voluptatum. Animi et
                    explicabo nam rerum voluptas?</p>
            </div>
        </div>

        <div class="row mt-3">
            {% for wishlist_item in wishlist_items %}
                <div class="card m-3" style="width: 18rem;">
                    {% if wishlist_item.image_url %}
                        <img class="card-img-top"
                             src="{{ wishlist_item.image_url }}"
                             alt="Wishlist-Item Image">
                    {% else %}
                        <img class="card-img-top"
                             src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg"
                             alt="Wishlsit Item Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ wishlist_item.title }}</h5>
                        <p class="card-text">{{ wishlist_item.description }}</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                 style="width: {{ wishlist_item|calculate_progress }}%"
                                 aria-valuenow="{{ wishlist_item|calculate_progress }}" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <b>CHF {{ wishlist_item.price_progress|floatformat:2 }}</b>
                        from
                        <b>CHF {{ wishlist_item.price_full|floatformat:2 }}</b>
                        <div class="mt-2">
                            {% if wishlist_item.product_url %}
                                <p>
                                    <a href="{{ wishlist_item.product_url }}" target="_blank"
                                       class="link-unstyled text-secondary">{% trans 'Go to product' %}</a>
                                </p>
                            {% else %}
                                <p class="text-danger">
                                    {% trans 'No product-link present' %}
                                </p>
                            {% endif %}
                        </div>
                        {% if wishlist_item.purchased %}
                            {% if user.is_staff %}
                                <a href="{% url 'contribute_to_product' wishlist_item.id %}"
                                   class="btn btn-secondary">{% trans 'Unmark as purchased' %}</a>
                            {% else %}
                                <a href="#"
                                   class="btn btn-outline-success disabled">{% trans 'Already purchased!' %}</a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'contribute_to_product' wishlist_item.id %}"
                               class="btn btn-main">{% trans 'I will contribute' %}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}