{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}
    Baby-Wishlist
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top"
                     src="https://www.tchibo.ch/newmedia/art_img/MAIN_ALT_2-IMPORTED/f45281df0abea9e4/.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-main">{% trans 'Mark as purchased' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}