{% load static %}
{% load bootstrap5 %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logos/Logo Emblem.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logos/Logo Emblem.png' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Default Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Tab-Title -->
    <title>{% trans 'Reset password' %}</title>
</head>


<!-- Infos -->
<body class="bg-main">
<div class="container vh-100">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-10 col-lg-12 text-center text-white mt-5">
            <h1 class="display-4">{% trans 'Reset password' %}</h1>
            <p>
                {% trans 'Please type in your accounts email address.' %}
                {% trans 'After that you will get an email from us to reset your password.' %}
            </p>

            <!-- Email-Form -->
            <form action="{% url 'reset_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group text-white">
                    <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                           class="form-control" placeholder="{% trans 'Your email' %}" required>
                </div>
                <button class="btn btn-dark mt-3">{% trans 'Submit' %}</button>
            </form>

            <!-- Links -->
            <p class="mt-3">
                <a class="text-white font-weight-light" href="{% url 'login' %}">
                    {% trans 'Back to login' %}
                </a>
            </p>
        </div>
    </div>
</div>

<!-- Messages -->
<div class="alert-float-center-bottom">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% ifequal message.tags 'error' %}danger{% else %}{{ message.tags }}{% endifequal %}
            alert-dismissible fade show" role="alert">
                {% if message.tags == 'success' %}
                    <i class="fas fa-check-circle"></i>
                {% elif message.tags == 'warning' %}
                    <i class="fas fa-exclamation-triangle"></i>
                {% elif message.tags == 'error' %}
                    <i class="fas fa-times"></i>
                {% endif %}
                <span style="margin-left: 1em;">
                {{ message }}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>