{% load static %}
{% load bootstrap5 %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logos/Schori-Liem Logo Emblem.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logos/Schori-Liem Logo Emblem.png' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Default Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Tab-Title -->
    <title>{% trans 'New Password' %}</title>
</head>

<!-- Infos -->
<body class="bg-main">
<div class="container vh-100">
    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-10 col-lg-6">
            <div class="row justify-content-center text-center text-white">
                <h1 class="display-4">{% trans 'Set new password' %}</h1>
            </div>

            <!-- Reset-Form -->
            <div class="text-center text-white mt-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}">
                            <b>{% trans 'New password' %}</b>
                        </label>
                        <input type="password" id="{{ form.new_password1.id_for_label }}"
                               name="{{ form.new_password1.html_name }}" class="form-control mt-2"
                               required>
                        <div class="text-white-50">
                            {% trans 'Must contain at least 8 characters, one lower, one upper and one numeric character' %}
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="{{ form.new_password2.id_for_label }}">
                            <b>{% trans 'Repeat your password' %}</b>
                        </label>
                        <input type="password" id="{{ form.new_password2.id_for_label }}"
                               name="{{ form.new_password2.html_name }}" class="form-control mt-2"
                               required>
                    </div>
                    <button class="btn btn-dark mt-3">{% trans 'Save new password' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Messages -->
<div class="alert-float-center-bottom">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% ifequal message.tags 'error' %}danger{% else %}{{ message.tags }}{% endifequal %}
            alert-dismissible fade show" role="alert">
                {% if message.tags == 'success' %}
                    <i class="fas fa-check-circle"></i>
                {% elif message.tags == 'warning' %}
                    <i class="fas fa-exclamation-triangle"></i>
                {% elif message.tags == 'error' %}
                    <i class="fas fa-times"></i>
                {% endif %}
                <span style="margin-left: 1em;">
                {{ message }}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>